
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">WELCOME FOLKS</div>
                <div class="masthead-heading text-uppercase">THE PATIO</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/signin">SIGN IN</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/users/new">ORDER</a>
            </div>
        </header>
        <!-- Services-->
